.general{
    margin-top: 20px;
}

#main-image{
    height: 28vh;
    width: 28vh;
}

.secondary-image{
    width: 12vh;
    height: 12vh;
}

#boton-siguiente{
    float: right;
}

#secondary-images{
    cursor: pointer;    
}

.hidden{
    display: none;
}

#button-next{
    margin-left: 10px;
}

#features-list li{
    width: 65%;
}

#features-list{
    margin-bottom:5px;
}

#loading-containter{
    height: 28vh;
}

#title{
    font-size: 9vh;
}