.general{
    margin-top: 20px;
}

#imagen-principal{
    width: 250px;
    height: 250px;
}

.imagen-secundaria{
    width: 110px;
    height: 110px;
}

#boton-siguiente{
    float: right;
}

#imagenes-secundarias{
    cursor: pointer;    
}